body{
margin:0;
padding:0;
}
#menu{
   display:none;
    width:100px;
    border:  1px solid;
    margin-top:-20px;
   
}
ul{
    margin:0;
    padding:10px;
}
ul li{
    margin:0;
    padding:0;
    padding:20px;
    color:grey;
    font-size:1em;
    border-bottom:1px dotted;
 list-style-type:none;   
    text-align:center;
}
li:nth-last-child(1) {
border-bottom:none;
}
#pull{
 width:220px;
    height:300px;
}
#pull >a {
     background-color:black;
padding:20px;
    color:#fff;
    
    line-height:40px;
}
#pull >a:hover + #menu{
   display:block;
    
}