/*
 This style sheet is used by the CGI script echo.pl.
 Both should be placed in the web server directory configured for CGI scripts.
*/


#C1,#C2	{ width:190px; }

.bright { border-right:1px dashed #ff6600; }

td	{ border-top:1px dashed #ff6600;padding-left:10px; padding-top: 5px; }

#Wrapper { display:block;width:450px;}

.b1h, .b2h, .b3h, .b4h, .b2bh, .b3bh, .b4bh{font-size:1px; overflow:hidden; display:block;  } 
.b1h {height:1px; background:#ff6600; margin:0 5px;} 
.b2h, .b2bh {height:1px; background:#ff6600; border-right:2px solid #ff6600; border-left:2px solid #ff6600; margin:0 3px;} 
.b3h, .b3bh {height:1px; background:#ff6600; border-right:1px solid #ff6600; border-left:1px solid #ff6600; margin:0 2px;} 
.b4h, .b4bh {height:2px; background:#ff6600; border-right:1px solid #ff6600; border-left:1px solid #ff6600; margin:0 1px;} 
.b2bh, .b3bh, .b4bh {background: #feedb7;} 

.heading {background: #ff6600; border-right:1px solid #ff6600; border-left:1px solid #ff6600;color:#feedb7;} 
.heading h3 {margin: 0px 10px 0px 10px; padding-bottom: 3px; font-family: "Lucida Handwriting","Comic Sans MS" cursive; }
.content {background: #feedb7; border-right:1px solid #ff6600; border-left:1px solid #ff6600;} 
.content div {margin-left: 12px; padding-top: 5px;font-family:cursive;}

