/* HTML5 in easy steps:example 36.1 */

ol { display:table-cell; }

ol#list-2 { padding-right:20px; }

ol#list-3 { list-style-type: upper-roman; padding-left:50px; border-left:3px dashed black; }