/* HTML5 in easy steps:example 63.1 */

table 
{ width:550px; font-family:sans-serif; }

caption 
{ text-align:left; padding-left:5px; height:25px; }

col.no 
{ width:20%; }

table thead tr th
{ color:white; background:#84C984; }

table tfoot tr td	 
{ border-top:2px solid #84C984; height:28px; vertical-align:bottom; }

table tbody tr td 
{ text-align:center; }