#p1 { color : red ; border : solid }

#p2 {

border-top : 0.5em orange dotted ;
border-bottom : 0.5em green dashed ;

}

#p3 { border-style : ridge double ; border-width : 1em ; border-color : blue }

#p4 { border : 1em yellow outset }


