/* preserve whitespace   */
p,dd { background : yellow   } 

/* preserve whitespace in paragraphs   */
p { white-space: pre }

/* direction and bidi override classes */
dd.ltr	  { direction: ltr	}
dd.rtl	  { direction: rtl	}
dd.bidi-off { unicode-bidi: bidi-override }
