p	{font-family: "Arial Narrow", sans-serif }

span.serif { font-family: "Times New Roman", serif 	}
span.cursive { font-family: "Script","Comic Sans", cursive }
span.mono	 { font-family: "Courier", monospace }
span.fantasy { font-family:  "Castellar", fantasy }
