/* CSS3 GRID LAYOUT

Not supported by all the latest browsers.
Rules currently require vendor prefixing.
Currently only supported by Internet Explorer with vendor prefix -ms-

display : -ms-grid enables grid layout

-ms-grid-columns : auto|px|fr
-ms-grid-rows : auto|px|fr
auto sizes to suit content
px is a specified length
fr is a fraction value such as 1fr or 2fr etc.

-ms-grid-column : [number]
-ms-grid-row : [number]
number is an integer that is the number of the row or column in which to place

-ms-grid-row-align : center|end|start|stretch
-ms-grid-column-align : center|end|start|stretch
sets alignment within row or column

 */

div#wrapper { height : 120px ; width : 95% ; border : 2px solid black ; text-align : center }

div#wrapper { display : -ms-grid ; -ms-grid-columns : 25% 1fr ; -ms-grid-rows: 25% 1fr 25% }
div#box-1 { -ms-grid-column : 1; -ms-grid-row : 1; background : yellow  }
div#box-2 { -ms-grid-column : 1 ; -ms-grid-row : 2 ;   background : lime ;  }
div#box-3 { -ms-grid-column : 1 ; -ms-grid-row : 3 ; background : aqua  }
div#box-4 { -ms-grid-column : 2 ; -ms-grid-row : 1 ;  -ms-grid-row-span : 2 ; background : orange }
div#box-5 { -ms-grid-column : 2 ; -ms-grid-row : 3 ;  background : fuchsia  }

/* Future standard ? */
div#wrapper { display : grid ; grid-columns : 25% 1fr ; grid-rows : 25% 1fr 25% }
div#box-1 { grid-column : 1 ; grid-row : 1 }
div#box-2 { grid-column : 1 ; grid-row : 2 }
div#box-3 { grid-column : 1 ; grid-row : 3 }
div#box-4 { grid-column : 2 ; grid-row : 1 ; grid-row-span : 2 }
div#box-5 { grid-column : 2 ; grid-row : 3 }