/* set anchor color and font-weight */
a	  { color: blue }

/* set hyperlink status colors */
a:link	  	{ color: red	}
a:visited 	{ color: gray	}

/* set interactive link colors */
a:hover		{ color: green  }
a:active	{ color: orange }