/* CSS3 OPACITY

Supported by all the latest browsers with no need for vendor prefixing.

opacity : [alpha-value] | inherit
alpha-value is in the range 0.0 (fully transparent) to 1.0 (fully opaque)

*/

div { float : left ; margin : 10px ; height : 120px ; width : 120px ; border : 5px solid black ; text-align : center }

div#box-1 { background : rgb( 255, 255, 0 ) }  

div#box-2 { background : rgba( 255, 255, 0, 0.5 )   } 

div#box-3 { background : rgb( 255, 255, 0 ) ; opacity : 0.5 } 