/* set margin, padding and size */
h2,p	{ padding: 5px; width: 500px	}

/* set borders and backgrounds */
h2	{ border: 3px dashed blue;  background: aqua }
p	{ border: 3px dashed green; background: yellow }

/* set outlines */
h2,span	{ outline: 2px solid red	}