table	{ width : 500px ; caption-side: top ; margin : 0 0 20px ; border: 3px dashed blue ; text-align : center }

td	{ border : 3px solid red ; background: yellow }
caption	{ background: aqua	}

table.fix { table-layout: fixed	}

