body{
margin:0;
padding:0;
}
#menu{
    width:100px;
    border:  1px solid;
    
}
ul{
    margin:0;
    padding:10px;
}
ul li{
    margin:0;
    padding:0;
    padding:20px;
    color:grey;
    font-size:1em;
    border-bottom:1px dotted;
 list-style-type:none;   
    text-align:center;
}
li:nth-last-child(1) {
border-bottom:none;
}