<html>
<head>
	<title>CIT Gym | Profile</title>
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
	<div id="topLine">
		<div id="socialPicks">
			<ul>
				<li id="twitter"><a href="https://twitter.com/CIT_Gym" target="_blank"></a></li>
				<li id="facebook"><a href="https://www.facebook.com/CITGym" target="_blank"></a></li>
			</ul>
		</div>
		
		<div id="topLogo"> 
			<div id="logo">
		 		<img src="images/miniLogo.jpg" alt="Cit Logo">
			</div>
		</div>
		
		<div id="searchBox"> 
			<div class="profileButton">log out</div>
		</div>
	</div>
	
	<div id="leftProfile">
		<div id="profilePic"></div>
		<div id="usersName"><h3>Users Name<h3></div>
		<div class="profileButton">Profile settings</div>
		<div class="profileButton">Inbox</div>
	</div>
	
</body>
</html>