@import url(http://fonts.googleapis.com/css?family=Roboto);


*{
    
    font-family: 'Roboto', sans-serif;
    
}

body,html{
    
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #FAFAFA;
    padding: 0;
    border: 0;

}

#header{
    
 width: 100%;
 height: 90px;
    background-color: white;
    border-bottom: 2px #9F123A solid;
         box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    padding-top: 14px;
    padding-bottom: 5px;
}


#wrapper{
top: 50%;
    width: 700px;
  height: 500px;
    margin-left: auto;
    margin-right: auto;
    
}

#logo{
    
    width: 229px;
    height: 84px;
    margin-left: auto;
    margin-right: auto;
}


.forms{
width: 200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 10px;
    
}
.forms > h2{
  text-align: center;   
    
}

.forms>input[type=submit]{
    width: 190px;
    
    border: 1px #5677fc solid ;
    height: 45px;
 background-color: #5677fc;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    font-size: 1.1em;
}

.forms>input[type=submit]:hover{
 background-color: #DD2C00;   
        border: 1px #DD2C00 solid ;
}
.forms>input[type=text],.forms>input[type=password],.forms>input[type=email]{
 
    width: 190px;
    height: 25px;
    border: 2px #ebebeb solid;
    border-radius: 3px #ebebeb solid;
    margin-bottom: 20px;
    
}
.orRegister{
 cursor: pointer;
}
#left{

    margin-right: 100px;
    width: 300px;
    height: 500px;
    float: left;
}
#register{
 display: none;
}


.twitter-timeline{
    margin-top: 40px;
    
}
#right{

    width: 300px;
height: 500px;
    float: left;
}
