body {
	background-color: #fff;
}

nav ul ul {
	display: none;
}

nav ul li:hover >ul {
	display: block;
}

nav li {
	position: relative;
	height: 50px;
	border-right-style: solid;
	border-right-color: #000;
	border-right-width: 1px;
	line-height: 50px;
	text-align: center;
	background: url(buttonx3.jpg) no-repeat;
}

nav ul {
	padding: 20px;
	list-style: none;
	position: relative;
	display: inline-block;
}

nav ul li {
	width: 150px;
	float: left;
	margin-right: 0;
}

nav ul li a {
	text-decoration: none;
	font-weight: 700;
	color: #000;
}
nav ul li a:hover {
	background: url(buttonx3.jpg) no-repeat -150px 0;
	display: block;
}

nav ul li:hover >ul {
	margin: 0;
	padding: 0;
}

nav ul li:hover>ul li {
	float: none;
	display: block;
}

nav ul li:hover > ul li a {
	color: #000;
	width: 150px;
}

nav ul li:hover > ul li a:hover {
	width: 150px;
	background: url(buttonx3.jpg) no-repeat -150px 0;
}

nav ul li {
	position: relative;
}

nav ul li ul {
	position: absolute;
	top: 50px;
	left: 0;
}