
/*Content Frame background color / text color / background image*/
#contentFrame,
#schemePreview, 
body, 
.ineditmode, 
.topFrame,
.breadcrumbs,
.paneTabs,
.paneTabs ul li.active, 
.paneTabs ul li,
.wizardBody .containerWizard {
    background: url(https://citbb.blackboard.com/branding/_1_1/background-2.png) repeat 0 0;
    background-color:#81D4FC;
    color:#000000;
}

/* active top tab caret in 2012 theme */
.appTabs .active .hideoff,
.appTabs .active a:hover .hideoff,
.appTabs .active a:focus .hideoff,
.toppTabs-compact .appTabs .active .hideoff, 
.toppTabs-compact .appTabs .active a:hover .hideoff,
.toppTabs-compact .appTabs .active a:focus .hideoff,
.paneTabs .active a:after {
  border-bottom-color: #81D4FC;
}

/*Content area background color / text color / background image */
#contentArea,
#schemePreviewBody,
.container {        
    background-color:#FFFFFF;
    color:#444444;
}

/*Data Collection Primary button background / text color*/
#primaryButton, 
input[type="submit"].submit,
.mainButton a, .mainButton a:hover, .mainButton a:focus,
.mainButton a, .actionBarMicro .mainButton a:hover, .actionBarMicro .mainButton a:focus,
.rumble .mainButton > a, .rumble_top .mainButton > a:focus, 
.rumble .mainButton > a:hover, .rumble_top .mainButton > a:focus, 
.rumble .mainButton > a:hover, .rumble_top .mainButton > a:focus,
.button-1, .button-1-img, .button-1:hover, .button-1-img:hover, .button-1:focus, .button-1-img:focus,
input.submit[type="submit"]:hover, input.submit[type="submit"]:focus {
  background:#D31145;
	border-color:#D31145;
  color:#F0F0F0;
}

/*Data Collection Secondary button background / text color*/
#secondaryButton, 
.button-2, .button-2-img, .button-2:hover, .button-2-img:focus, .button-2:hover, .button-2-img:focus {
  background:#EFEFEF;
	border-color:#EFEFEF;
  color:#000000;
}

/*Page Header background color / text color / background image */
#pageHeader, 
#schemePreviewHead,
div.pageTitle,
div.pageTitle h1, 
div.pageTitleError h1,
div#lightboxContent h2 {
  background:#DEDEDE ;
	border-color:#DEDEDE;
  color:#000000;
  text-shadow: none;
}

.pageTitle p,
.pageTitle p.helptext,
.version {
  color:#000000;
  opacity:.8;
  filter: Alpha(Opacity=80);
}

/*Action bar background / text color*/
#actionBarBrand,
.actionBar, 
.contentPaneWide .actionBar,
div.actionBar ul, 
div.localViewToggle,
.actionBarMicro {
  /*background-color:transparent;*/
  background:transparent  url(action_button.gif) repeat 0 0 ;
  border-color:transparent;
}

/*Action bar primary button background / text color*/
#primaryActionBrand, 
.mainButton > a, 
.mainButton > a:hover, 
.mainButton > a:focus,
.mainButton h2 > a,
.mainButton h2 > a:hover, 
.mainButton h2 > a:focus, 
li.mainButton > a,
li.mainButton:hover > a,
li.mainButton:focus > a,
li.mainButton:hover h2 > a,
li.mainButton:focus h2 > a,
.actionBarMicro .mainButton > a, 
.actionBarMicro .mainButton > a:hover, 
.actionBarMicro .mainButton > a:focus {
  background:transparent;
	border-color:transparent;
  color:#ffffff;
}

/*Action bar Secondary button background / text color*/
#secondaryActionBrand, 
.secondaryButton > a, 
.secondaryButton > a:hover,
.secondaryButton > a:focus, 
.secondaryButton h2 > a,
.secondaryButton h2 > a:hover, 
.secondaryButton h2 > a:focus
 {
  background:transparent;
	border-color:transparent;
  color:#ffffff;
}

/*Top Frame Text Color */
#topFrame, 
.topGlobalLinks ul li,
.topGlobalLinks a,
.topGlobalLinks a:hover,
.topGlobalLinks a:focus,
.hotItems,
.hotSpots a,
.hotSpots li:after,
.hotSpots a:hover  {
    color:#FFFFFF;
}


/*Top Frame Background Color / Background Image*/
#topFrame, 
.bgBanner {
    background-image: url(https://citbb.blackboard.com/branding/_1_1/new-banner.jpg);
    background-repeat: repeat;
    background-position: 0 0;
    background-color:#CC0033;
	border-color:transparent;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
div.topTabs-compact {
    background:#CC0033;
	border-color:transparent;
}

/*Top Tab Color/Background Color*/
#topTab, 
table.appTabs tbody tr td a, 
div.topTabs-compact table.appTabs tr td a,
table.appTabs tbody tr td a:hover, 
div.topTabs-compact table.appTabs tr td a:hover,
table.appTabs tbody tr td a:focus, 
div.topTabs-compact table.appTabs tr td a:focus {   
  color:#D4DBE5;
  background-color:transparent;
	border-color:transparent;

}

/*Top Tab Active Tab Color/Background Color*/
#topTabActive, 
table.appTabs tbody tr td.active a, 
table.appTabs tbody tr td.active a:hover, 
table.appTabs tbody tr td.active a:focus,
div.topTabs-compact table.appTabs tr td.active a, 
div.topTabs-compact table.appTabs tr td.active a:hover, 
div.topTabs-compact table.appTabs tr td.active a:focus {
    color:#FFFFFF;
    background-color:transparent;  
	border-color:transparent;
	text-shadow: none;             
}

/*Global Nav links*/
/**/
.nav-link, .nav-link:hover, .nav-link:focus {
	background: #666;
}

/*Module colors*/
#moduleTitle, 
.portlet h2, .portlet h2 span.reorder
{
    background-color:#CC0033;
    color:#FFFFFF;
}
.portlet h2 a
{
    background-color: transparent;
    color:#FFFFFF;
}
#moduleBorder, #moduleBody, 
.portlet
{
    border-top-color: #CCCCCC;
    border-left-color: #CCCCCC;
    border-bottom-color: #CCCCCC;
    border-right-color: #CCCCCC;
    background-color:#FFFFFF;
    color:#444444;    
}