/* HTML5 in easy steps:example 81.2 supplemental */

p#api		{ position:absolute; 	top:0px; 	left:10px; width:85px; height:92px; background:url(local.png);	}
fieldset		{ position:absolute; 	top:20px; 	left:100px; }