/* HTML5 in easy steps:example 79.3 supplemental */

p#api			{ position:absolute; top:0px; left:10px; width:85px; height:85px; background:url(canvas2d.png); }

img#pixel		{ position:absolute; top:10px; left:120px; width:215px; height:150px; }

canvas#canvas	{ position:absolute; top:10px; left:355px; width:215px; height:150px; }